
*.xls
*.xlsx
*.dta
*.docx
*.pdf
*.gph
*.csv
*.tsv
*.shp
*.shf
*.dbf
*.db
*.json
*.html
*.png
*.txt
*.rar
*.zip
*.m4a
*.mpeg
*.avi
*.mp3
*.mkv
*.mp4
*.pyc
*.gph
*.pdf
*.eps
*.jpg
*.log
*.tex
*.jpg
*.ai
!Data/Data_Raw/Country codes & metadata/*
!UML long.png
!HCP_logo.png
*.jpg
.Rhistory
