/*
!.gitignore
!/scripts
/scripts/_old

*.xls
*.xlsx
*.dta
*.docx
*.pdf
*.gph
*.csv
*.tsv
*.shp
*.shf
*.dbf
*.db
*.json
*.html
*.png
*.txt
*.rar
*.zip
*.m4a
*.mpeg
*.avi
*.mp3
*.mkv
*.mp4
*.pyc
scripts/2.6. Sistema de georreferenciacion/Armado de bases/EDESUR_con_multi_georef.qgz
